{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'stages/stylesheet.css' %}">
    <script src="{% static 'stages/script.js' %}" defer></script>
{% endblock %}

{% block content%} 
<div class="container center-align">
  {% if stages %}
  {% for stage in stages %}
<!-- Modal Structure -->
<div id="modal1" class="modal" style="height: 300px;">
<div class="modal-content">
  <h4>completer votre admission</h4>
  <p>Veuillez saisir voter CV </p>
  <form style="height: 80px;" action="stage/demande/" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="file-field input-field">
      <div class="btn">
        <span>File</span>
        <input type="file" name="cv">
      </div>
      <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="Upload one or more files">
      </div>
    </div>
    <div class="center-align">
      <button type="submit" value="{{stage.id}}" name="id" class="btn">demande</button> 
    </div>
  </form>

</div>
</div>
<!-- Modal Structure to send cv  -->

<!-- ****************************************** -->
    <div class="row">
      <div class="col s12 ">
        <div class="card  darken-1">
          <div class="card-content ">
            <span class="card-title light-blue-text text-darken-4" >{{stage.sujet}}</span>
              <div class="row">
                <div class="col"></div>
                <div class="col"></div>
                <div class="col"></div>
              </div>
              <p>{{stage.description_du_stage}}</p>
              <a class="" href="/stage/{{stage.id}}">voir les détailles du stage</a>
          </div>
          <div class="card-footer" style="margin-top: 20px;">
            
          {% if  user.is_stagiaire  %}
              {% if stage.stagiaire_id == user.id %}
                <a class="btn" href="/stagiaire/mon_stage/">vos taches</a>
              {% else %}
                {% if  user.stagiaire.document.cv  %}                 
                <button type="button" id="demander{{stage.id}}" value="{{stage.id}}" onclick="demander(this.value)" {% if user.stagiaire.is_active %} disabled {% endif %} name="id" class="btn">demande</button> 
                {% else %}

                <a onclick="M.toast({html: 'veuillez saisir voter CV pour postuler ce stage' ,classes: 'rounded'})" class="waves-effect waves-light btn modal-trigger" href="#modal1">demander ce stage</a>  
                {% endif %}
              {% endif %}
          {% elif user.is_formateur  %}  
            {% if stage.formateure_id == user.id %}
            <a class="btn" href="/formateur/mes_stages/">voir tout mes stages</a>
            {% endif %}
          {% else %}
          
          <form style="height: 80px;" action="stage/demande/" method="POST">
            {% csrf_token %}
            <div class="center-align">
              <button type="submit" value="{{stage.id}}"  name="id" class="btn">demande</button> 
            </div>
          </form>  
          {% endif %} 
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% else %}
  <div class="row">
    <div class="col s12 ">
      <div class="card  darken-1">
        <div class="card-content blue-grey-text">
          <h1 class="card-content">aucun stage trouvé</h1>
        </div>
      </div>
    </div>
  </div>

  {% endif %}
</div>
{% block footer %}


{% endblock footer %}  
{% endblock %}