{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="{% static 'stages/stylesheet.css' %}">
    <script src="{% static 'stages/script.js' %}" defer></script>
{% endblock %}
{% block content%}
<div class="container center-align">
    
{% for key,value in stages.items %}
    <h3>{{ key }}</h3>
    <ul class=" collapsible popout z-depth-5">
        {% for tache in value %}
        <li class="active">
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{tache.title}}</div>
        <div class="collapsible-body">
            <span>{{tache.descrptionTache}}</span></div>
        </li>
        {% endfor %}
    </ul>
{% endfor %}

</div>


{% endblock %}