{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <link rel="stylesheet" href="">
    <script src="" defer></script>
{% endblock %}
{% block content%}
<div class="container  ">
    <div class="">
        <div class="card">
            <div class="card-content">
                <h3>Enter new password</h3>

                <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                <form method="post">

                    {% csrf_token %}
                    <div class="col l6 s12 m8">
                        {{form}}
                        <input type="Submit"class="btn" name="Update Password">
                    </div>
                    
                    
                    
                </form>
            </div>
        </div>
    </div>

</div>
    {% block footer %}
    
    {% endblock footer %}
{% endblock %}