{% extends "base.html" %}
{% load static %}
{% block title %} Demandes {% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="" defer></script>
{% endblock %}
{% block content %}
<div class="container  ">
  <div class="fixed-action-btn">
    <a id="menu" href="/create_stage/" class="waves-effect btn-large waves-light btn btn-floating"  ><i class="material-icons">add</i></a>
  </div>
  
<div class="row center-align ">
    <div class="center-align">
      <div class="card blue-grey darken-3  ">
        <div class="card-content white-text">
          <span class="card-title">Les Demandes Du Stages</span>
          {% if demandes %}
          <table>
            <thead>
              <tr>
                <th>stage</th>
                <th>stagiaire</th> 
                <th>cv</th> 
                <th>accepter</th>
                <th>supprimer</th>
              </tr>
            </thead>
            <tbody>
                {% for demande in demandes %}
              <tr>
                <td>{{demande.stage.sujet}}</td>
                <td><a href="/accounts/profile/{{demande.stagiaire}}">{{demande.stagiaire}}</a></td>
                <td><a href="{{ demande.stagiaire.document.cv.url }}" target="_blank">{{ demande.stagiaire.user.username }}.cv</a></td>
                <td>
                    <form action="/formateur/demandes/" method="POST">
                    {% csrf_token %}
                     <button type="submit" class="btn waves-effect waves-light " value="{{demande.id}}" name="id"><i class="material-icons">send</i></button>
                    </form>
               </td>
               <td>
                <form action="/formateur/demande_suprimer/" method="POST">
                  {% csrf_token %}
                   <button type="submit" class="btn waves-effect red waves-light " value="{{demande.id}}" name="id"><i class="material-icons">delete</i></button>
                  </form>
               </td>
              </tr>
              {% endfor %}
            </tbody>
            
          </table>
          {% else %}
          <div>
            <h3 class="center-align white-text ">aucune demande trouvée pour l'instant </h3>
          </div>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>


</div>
    {% block footer %}
    <script>
      



    </script>
    {% endblock footer %}
{% endblock %}