{% extends "base.html" %}
{% load static %}
{% block title %} mes stagiaires {% endblock %}
{% block scripts %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script src="{% static 'javascript/scripts.js' %}" defer></script>
     
{% endblock %}
{% block content%}
<div class="container  ">
  <div class="fixed-action-btn">
    <a id="menu" href="/create_stage/" class="waves-effect btn-large waves-light btn btn-floating"  ><i class="material-icons">add</i></a>
  </div>
<div class="row center-align ">
    <div class="center-align">
      <div class=" card  darken-4   ">
        <div class="card-content">
          <span class="card-title">Les Stagiaires</span>
          {% if stages %}
          <table class="responsive-table centered">
            <thead>
              <tr>
                <th>stagiaire</th>
                  <th>stage</th>
                  
                  <th>cv</th>
                  <th>son progrès</th>
                  <th>rapport</th>
                  <th >ACTION</th>
              </tr>
            </thead>
    
            <tbody>
                {% for stage in stages %}
              <tr id="stagiaire{{stage.stagiaire.id}}">
                <td><a href="/accounts/profile/{{stage.stagiaire.user.username}}"> {{stage.stagiaire.user.last_name}} {{stage.stagiaire.user.first_name}}</a></td>
                <td>{{stage}}</td>
                
                <td><a href="{{ stage.stagiaire.document.cv.url }}" >cv {{stage.stagiaire}}</a></td>
                <td>{{stage.stagiaire.score}}%</td>
                {% if stage.stagiaire.document.rapport %}
                <td><a href="{{ stage.stagiaire.document.rapport.url }}" >rapport {{stage.stagiaire}</a></td>
                {% else %}
                <td>pas encore</td>
                {% endif %}
                <td>
                  <form action="/formateur/delete_stagiaire/" method="post">
                    {% csrf_token %}
                  <button type="submit" class="btn red"  value="{{stage.stagiaire.user_id}}" name="id"><i class="material-icons ">remove</i></button> 

                  </form>
                 <button type="button" class="btn" value="{{stage.stagiaire.user_id}}" {% if stage.stagiaire.score is not 100 %} disabled {% endif %} name="id"><i class="material-icons">send</i></button> 
               </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% else %}
          <div>
            <h3 class="center-align  ">aucun stagiaire stouvé !!! :( voir les demandes <a href="/formateur/demandes/">demandes</a></h3>
          </div>
        
          {% endif %}
        </div>
        <div class="card-action">
        
        </div>
      </div>
    </div>
  </div>


</div>
    {% block footer %}
    <script>
        
    </script>
    {% endblock footer %}
{% endblock %}