{% extends "base.html" %}
{% load static %}
{% block title %}mon profile{% endblock %}
{% block scripts %}
<link rel="stylesheet" href="{% static 'css/style.css' %}"> 
    <script src="{% static 'scripts.js '%}" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}
{% block content %}

  
  <!-- Modal Structure -->
  <div id="modal1" class="modal" style="height:900px !important;">
    <form action="/accounts/edite/profile/" method="post" enctype="multipart/form-data">
    <div class="modal-content">
      {% csrf_token %}
        <div class="file-field input-field">
            <div class="btn">
              <span>image</span>
              <input type="file" name="avatar" >
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="modifier l'image du profile ">
            </div>
          </div>
          {% if profile.user.user.is_stagiaire %}
          <div class="file-field input-field">
            <div class="btn">
              <span>CV</span>
              <input type="file" name="docs">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text" placeholder="ajoutter un cv " >
            </div>
          </div>
          {% endif %}
        <div class="row">

            <div class="input-field col s6">
              <input id="first_name" type="text" name="first_name" value="{{profile.user.user.first_name}}">
              <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s6">
              <input id="last_name" type="text" name="last_name" value="{{profile.user.user.last_name}}">
              <label for="last_name">Last Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">phone</i>
                {% if profile.user.user.is_stagiaire %}
                <input id="icon_telephone" type="tel" name="telephone" value="{{profile.user.user.stagiaire.phone_number}}">
                {% else %}
                <input id="icon_telephone" type="tel" name="telephone" value="{{profile.user.user.formateur.phone_number}}">

                {% endif %}
                <label for="icon_telephone">Telephone</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">linkedin</i>
                <input id="icon_telephone" type="text" name="linkedin" value="{{profile.linkedin}}">
                <label for="icon_telephone">linkedin</label>
              </div>      
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="email" type="email" name="email" value="{{profile.user.user.email}}">
              <label for="email">Email</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea" name="bio">{{profile.bio}}</textarea>
                <label for="textarea1">À propos de moi:</label>
            </div>      
          </div>
          <div class="center-align">
            <button type="submit" class=" waves-effect waves-green btn light-blue">Editer profile</button>
          </div>
    </div>
    
    </form>
  </div>

        <div class="container center-align">
            <div class="row center-align" style="margin-top: 20px;">
               <div class="col l4 m12 card center-align" >
                 <div class="card-content" >
                   <div class="">
                       <div class="row">
                           <div class="col l12 s12">
                                <img src="{{profile.avatar.url}}" style="height: 130px;width: 125px;" alt="" class="center-align circle responsive-img z-depth-4"> 
                           </div>
                           {% if profile.user.user.username == user.username %}
                           <div class="col l12 s12">
                               <button class="waves-effect waves-light  modal-trigger blue lighten-1 btn" data-target="modal1" ><i class="material-icons right">edite</i> edite your profile</button>
                           </div>
                           
                           {% endif %}
                       </div>
                    </div>
                    <div class="left-align">
                        <ul>
                            <li><h6 {% if profile.user.user.stagiaire.is_active %} class=" tooltipped " data-position="bottom" data-tooltip="vous étes un stagiaire active" {% endif %}><b>{{profile.user.user.last_name}} {{profile.user.user.first_name}}</b>{% if profile.user.user.stagiaire.is_active %} <i class="material-icons">check_circle</i> {% endif %}</h6></li>
                            <li> 
                                {% if profile.user.user.is_stagiaire %}
                                {% if profile.user.user.stagiaire.is_active %}
                                <P>Stage:  {{stage.sujet}} / formateur: <a href="/accounts/profile/{{profile.user.user.stagiaire.formateur}}">{{profile.user.user.stagiaire.formateur}}</a></P>

                               
                                {% else %}
                                <b>Aucun stage</b>
                                {% endif %}
                                {% else %}
                                <i class="material-icons">supervisor_account</i> <b>Formateur </b>
                                {% endif %}
                            </li>
                            <li>
                                
                                {% if profile.user.user.is_stagiaire %}
                                Specialite: <b> {{profile.user.user.stagiaire.specialite}}</b>
                                {% else %}
                                Specialite: <b>{{profile.user.user.formateur.specialite}}</b>
                                {% endif %}
                            </li>
                            <li>
                                
                               <b><i class="fab fa-linkedin"></i> linkedin:{% if profile.linkedin %}  <a href="{{profile.linkedin}}" target="_blank">@{{profile.user.user.last_name}}-{{profile.user.user.first_name}}</a>{% elif user.id == profile.user.user.id  %}<a class="waves-effect waves-light modal-trigger" href="#modal1">ajoutter votre linkedin</a>{% else %} aucun lien{% endif %} </b> 
                            </li>
                            <li>
                                {% if profile.user.user.is_stagiaire %}
                                <i class="fas fa-phone"></i><b>téléphone: {{profile.user.user.stagiaire.phone_number}} </b> 
                                {% else %}
                                <i class="fas fa-phone"></i><b>téléphone: {{profile.user.user.formateur.phone_number}} </b> 
                                {% endif %}
                             </li>
                             <li>
                              <i class="fas fa-envelope-square"></i><b> Email: {{profile.user.user.email}}</b>
                             </li>
                        </ul>
                    </div>   
                 </div>
               </div>
               
                  <div class="col l7 m12 s12  " style="margin-left: 3px;">
                    <div class="card row">
                      <div class="card-content">
                        <div class="row">
                            <div class="col l4 right-align"><b>À propos de moi:</b></div>
                            <div class="col l8 left-align"><p>{% if profile.bio %}{{profile.bio}}{% elif user.id == profile.user.user.id or user.id == profile.user.user.id  %} <a class="waves-effect waves-light btn modal-trigger" href="#modal1">presentez vous</a>{% else %}empty field{% endif %}</p>  </div>
                            
                        </div>
                        {% if profile.user.user.is_stagiaire %}
                        <div class="row">
                            <div class="col l6 s12 right-align"><b>Curriculum Vitae (cv):{% if profile.user.user.stagiaire.document.cv %}  <a href="{{profile.user.user.stagiaire.document.cv.url}}" target="_blank">{{profile.user.user.last_name}}-{{profile.user.user.first_name}}.CV</a>{% elif user.id == profile.user.user.id  %}<a class="waves-effect waves-light modal-trigger" href="#modal1">ajoutter votre cv</a>{% else %} aucun cv{% endif %} </b> </b></div>
                            
                            <div class="col l6 s12 right-align"><b>Attestation:{% if profile.user.user.stagiaire.document.attestation %}  <a href="{{profile.user.user.stagiaire.document.attestation.url}}" target="_blank">{{profile.user.user.last_name}}-{{profile.user.user.first_name}}.attestation</a>{% elif user.id == profile.user.user.id  %}<a class="waves-effect waves-light modal-trigger" href="#modal1">ajoutter votre cv</a>{% else %} aucun cv{% endif %} </b> </b></div>
                            
                        </div>
                        {% endif %}
                      </div> 
                    </div>
                    {% if user.id == stage.formateur_id or user.id == stage.stagiaire_id %}
        
                    <div class="row">
                      <div class="col l12 s12 ">
                        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>
                      </div>
                    </div>
                  </div>
                  {% endif %} 
            </div>
        {% if user.id == stage.formateur_id or user.id == stage.stagiaire_id %}
        
            {% if axes %}
            <div class="row">
                <div class="card col l- s12">
                    
                        <div class="card-content details">
                           
                                <div  id="axe{{key.id}}">
                                    <div class="row ">
                                        <div class="col l12">
                                               <h4>Avancement du stage/stagiaire</h4>
                                        </div>
                                    </div>
                                </div> 
                               {% for key,value in axes.items %}
                                <ul class=" collapsible popout z-depth-5">
                                   {% if value %} 
                                    {% for tache in value %}
    
                                    <li class="active" id="list{{tache.id}}">
                                    <div class="collapsible-header">
                                     <h5>{{ key }}</h5> 
                                    
                                    </div>
                                    <div class="collapsible-body">
                                        <span>
                                            <p>
                                                <label>
                                                  
                                                    <span>{% if tache.is_done %} <i class="material-icons">task_alt</i> {% endif %}{{tache.descrptionTache}}</span>
                                                </label>
                                            </p>
                                        </span>
                                    </div>
                                    </li>
                                    {% endfor %}
                                    {% endif %}
                                </ul>
                                {% endfor %} 
                        </div>
                   
              </div>
              
            </div>
          
           
            {% endif %}
            {% endif %}
            
            {% if stages %}
        <table class="highlight ">
            <thead>
                <tr>
                    <th>stage</th>
                    <th>type du stage</th>
                    <th>etat</th>
                    <th>créer le </th>
                    
                    
                </tr>
            </thead>
            <tbody>
                {% for stage in stages %}
                <tr>
                    <td>{{stage.sujet}}</td>
                    <td>{{stage.type_de_stage}}</td>
                    <td>{% if stage.occupe %}stage occupé{% else %}stage non occupé{% endif %}</td>
                    <td>{{stage.created}}</td>


                </tr>
                {% endfor %}
            </tbody>
        </table>  
        {% endif %}

        </div>
    </div>
{% endblock %} 
{% block footer%}

{% endblock %}
