{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
<!-- <link rel="icon" type="image/png" sizes="16x20" href="{% static 'logo-dark.png' %}"> -->
<!--  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
         <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
         {% block scripts %}

         {% endblock scripts %}
         
        <title>{% block title%}{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">  
</head>
<body style="background-image: url({% static 'bg.jpeg' %});">
  
  <nav class="nav">

          <div class="nav-wrapper">
   
                  <a href="/" class="brand-logo"><div class="img center-align"><img src="{%  static 'logo-dark.png' %}" alt="notre logo" width="110px" class="imgg"></div></a>

                  <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                  <ul class="right hide-on-med-and-down">
                      <li class="li"><a href="/">home</a></li>
                      {% if user.is_formateur and user.is_authenticated %}
                      <li class="li"><a href="/accounts/profile/{{user.username}}">mon profile</a></li>
                  
                      <li class="li"><a href="/formateur/mes_stages"> mes stages</a></li>
                      <li class="li"><a href="/formateur/stagiaires"> mes stagiaires</a></li>
                      <li class="li"><a href="/formateur/demandes">Demandes</a></li>
                      {% elif user.is_stagiaire and user.is_authenticated%}
                      <li class="li"><a href="/accounts/profile/{{user.username}}">mon profile</a></li>
                      <li class="li"><a href="/stagiaire/mon_stage"> mon stage </a></li>
                      {% endif %}
                  
                      {% if user.is_authenticated %}
                      <li class="li"><a href="/accounts/logout">Logout</a></li>
                      {% else %}
                      <li class="li"><a href="/accounts/login">login</a></li>
                      <li class="li"><a class="dropdown-trigger" href="#!" data-target="dropdown1">Sign Up<i class="material-icons right">arrow_drop_down</i></a></li>
                      {% endif %}
                    
            
                  </ul>
              </div>
        
          </div>
  </nav>
      <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/accounts/formateur_register">formateur </a></li>
    <li><a href="/accounts/stagiaire_register">stagiaire</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/accounts/formateur_register">formateur </a></li>
    <li><a href="/accounts/stagiaire_register">stagiaire</a></li>
</ul>

  <ul  class="sidenav" id="mobile-demo">
   
    {% if user.is_formateur and user.is_authenticated %}
    <li class="center-align"><img class="profile-img" src="{{user.formateur.profileformateur.avatar.url}}" style="width:80px; height:80px; margin-top:17px " alt=""></li>
    
    <li class="center-align">welcome {{user}}</li>
        <li class="li"><a href="/">home<i class="material-icons red-text  " style="font-size:25px">home</i></a></li>

    <li class="li"><a href="/accounts/profile/{{user.username}}">mon profile<i class="material-icons red-text  " style="font-size:25px">account_circle</i></a></li>

    <li class="li" ><a href="/formateur/mes_stages"> mes stages<i class="material-icons red-text  " style="font-size:25px">work_outline</i></a></li>
    <li class="li"><a href="/formateur/stagiaires"> mes stagiaires<i class="material-icons red-text  " style="font-size:25px">3p</i></a></li>
    <li class="li"><a href="/formateur/demandes">Demandes<i class="material-icons red-text  " style="font-size:25px">message</i></a></li>
    {% elif user.is_stagiaire and user.is_authenticated%}
    <li class="center-align"><img class="profile-img" src="{{user.stagiaire.profilestagiaire.avatar.url}}" style="width:80px; height:80px; margin-top:17px " alt=""></li>
    
    <li class="center-align">welcome {{user}}</li>
        <li class="li"><a href="/">home<i class="material-icons red-text  " style="font-size:25px">home</i></a></li>

    <li class="li"><a href="/accounts/profile/{{user.username}}">mon profile<i class="material-icons red-text  " style="font-size:25px">account_circle</i></a></li>
    <li class="li"><a href="/stagiaires/mon_stage"> mon stage <i class="material-icons red-text  " style="font-size:25px">work_outline</i></a></li>
    {% endif %}

    {% if user.is_authenticated %}
    <li class="li"><a href="/accounts/logout">Logout<i class="material-icons red-text  " style="font-size:25px">logout</i></a></li>
    {% else %}
        <li class="li"><a href="/">home<i class="material-icons red-text  " style="font-size:25px">home</i></a></li>

    <li class="li"><a href="/accounts/login">login<i class="material-icons red-text  " style="font-size:25px">login</i></a></li>
    <li class="li"><a class="dropdown-trigger" href="#!" data-target="dropdown2">Sign up<i class="material-icons right">arrow_drop_down</i><i class="material-icons red-text  " style="font-size:25px">person_add</i></a></li>
    {% endif %}


  </ul>


    {% block content%}





    {% endblock %}



    {% if user.is_formateur %}
 <div class="fixed-action-btn">
  <a href="/formateur/create_stage" class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
   {% endif %}
    
   

   
   
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'scripts.js' %}"></script>
    {% block footer %}   
     
     
    {% endblock footer %}
</body>
</html>