{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://kit.fontawesome.com/8d8d731c10.js" crossorigin="anonymous"></script>
       
        
        {% block scripts %}

        {% endblock scripts %}
        <title>{% block title%} {% endblock %}</title>
</head>
<body>  
  <nav>
    <div class="container">
    <div class="nav-wrapper">
        
            <a href="/" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">home</a></li>
                {% if user.is_formateur and user.is_authenticated %}
                <li><a href="/accounts/profile/{{user.username}}">mon profile</a></li>
                <li><a href="/formateur/mes_stages"> mes stages</a></li>
                <li><a href="/formateur/stagiaires"> mes stagiaires</a></li>
                <li><a href="/formateur/demandes">Demandes</a></li>
                {% elif user.is_stagiaire and user.is_authenticated%}
                <li><a href="/accounts/profile/{{user.username}}">mon profile</a></li>
                <li><a href="/stagiaire/mon_stage"> mon stage </a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="/accounts/logout">Logout</a></li>
                {% else %}
                <li><a href="/accounts/login">login</a></li>
                <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
  </nav>
      <!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
    <li><a href="/accounts/formateur_register">formateur </a></li>
    <li><a href="/accounts/stagiaire_register">stagiaire</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
    <li><a href="/accounts/formateur_register">formateur </a></li>
    <li><a href="/accounts/stagiaire_register">stagiaire</a></li>
</ul>

  <ul class="sidenav sidebar" id="mobile-demo">

    {% if user.is_formateur and user.is_authenticated %}

    <li class="center-align"><img class="profile-img center-align circle responsive-img z-depth-4" src="{{user.formateur.profileformateur.avatar.url}}" alt=""></li>
    
    <li class="center-align">welcome {{user}}</li>
    <li><a href="/">home</a></li>
    <li><a href="/accounts/profile/{{user.username}}">mon profile</a></li>

    <li><a href="/formateur/mes_stages"> mes stages</a></li>
    <li><a href="/formateur/stagiaires"> mes stagiaires</a></li>
    <li><a href="/formateur/demandes">Demandes</a></li>
    {% elif user.is_stagiaire and user.is_authenticated %}
    <li class="center-align"><img class="profile-img center-align circle responsive-img z-depth-4" src="{{user.stagiaire.profilestagiaire.avatar.url}}" alt=""></li>
    <li class="center-align">welcome {{user}}</li>
    <li><a href="/">home</a></li>
    <li><a href="/accounts/profile/{{user.username}}">mon profile</a></li>
    <li><a href="/stagiaire/mon_stage"> mon stage </a></li>
    {% endif %}

    {% if user.is_authenticated %}
    <li><a href="/accounts/logout">Logout</a></li>
    {% else %}
    <li><a href="/">home</a></li>
    <li><a href="/accounts/login">login</a></li>
    <li><a class="dropdown-trigger" href="#!" data-target="dropdown2">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
    {% endif %}

  </ul>
    {% block content%}
    

    {% endblock %}
    {% if user.is_formateur %}
 <div class="fixed-action-btn">
  <a href="/formateur/create_stage" class="btn-floating btn-large red">
    <i class="large material-icons">mode_edit</i>
  </a>
  <ul>
    <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
    <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
    <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
    <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
  </ul>
</div>
   {% endif %}
      <!-- Load d3.js and c3.js -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{% static 'script.js' %}"></script>
    {% block footer %}   

    {% endblock footer %}
</body>
</html>
