
form{
    height: 500px;
    
    
}
body{
    background: #000;
}
.container{
    margin-top: 40px;
}
#cahiercharge-stage,#discription-stage{
    display: flex !important;
    overflow: scroll !important;
}

